/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */
.brandtext1
{
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}
.maintext1
{
	background-image: linear-gradient(120deg,rgba(24, 65, 74, 0.442),rgba(114, 169, 182, 0.799),rgba(255, 255, 255, 0.814));
	background-color: rgb(31, 78, 89,0.61);
	width: 600px;
	height: 400px;
}
.brandtext2
{
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 45px;
	color: black;
}
.content1
{
	color: black;
	font-family: 'Poppins', sans-serif;
}
.btnsec2
{
	border: 1px solid rgb(14, 46, 53);
}
/* .carousal1imgs
{
	
} */